.navbar {
  width: 80px;
  background-color: #1C1B1B;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.nav-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nav-item {
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* State styling */
.nav-item.active {
  background-color: #332623;
}

.nav-item:hover:not(.active) {
  background-color: #2a2a2a;
}