.container {
  padding: 20px 40px;
}

.Header {
  color: white;
  font-size: 36px;
  margin-bottom: 24px;
}

.Movielist {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scrollbar-width: none; /* hide scrollbar firefox */
}

.Movielist::-webkit-scrollbar {
  display: none; /* hide scrollbar chrome */
}

.movie-mini {
  flex-shrink: 0;
  width: 250px;
  cursor: pointer;
}

.movie-mini img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.2s;
}

.movie-mini img:hover {
  transform: scale(1.05);
}

.movie-mini p {
  color: white;
  font-size: 20 px;
  margin-top: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}